@font-face{
    font-family: Nexa-Regular;
    src: url('./Fonts/NexaRegular.otf');
}
@font-face{
    font-family: Nexa-Light;
    src: url('./Fonts/NexaLight.otf');
}
@font-face{
    font-family: Nexa-Bold;
    src: url('./Fonts/NexaBold.otf');
}

.login-page{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #3091be, #13acb1);
    /* background-color: #111111; */
    min-height: 100vh;
}

.login-head{
    font-family: Nexa-Bold;
    font-size: 50px;
}

.login-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.divider{
    border: none;
    border-left: solid #ffffff 2.5px;
    border-right: solid #ffffff 2.5px;
    height: 50vh;
}

.login-right{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
    box-sizing: border-box;

}
.login-right-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login-input{
    background-color: #1b262c;
    color: #ffffff;
    width: 100%;
    border: 0;
    /* border-left: solid #03558b 5px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 3px;
    padding: 15px;
    padding-left: 20px;
    margin-top: 20px;
}
.login-submit{
    width: 100%;
    border: 0;
    font-size: 15px;
    background-color: #9fd9ff;
    padding: 10px;
    align-self: center;
    margin-top: 25px;
}

.login-right-head{
    font-family: Nexa-Regular;
    font-size: 35px;
    font-weight: bold;
    /* align-self: center; */
}

.login-register{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 5px;
    align-items: center;
}

.divider-submit{
    display: block;
    border: none;
    border-left: solid #ffffff 1.5px;
    border-right: solid #ffffff 1.5px;
}

#reg{
    color: #ffffff;
}

.regform-page{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #3091be, #13acb1);
    /* background-color: #111111; */
    min-height: 100vh;
}

.regform-container{
    display: flex;
    flex-direction: row;
    width: 70vw;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 7px 15px #111111;
}

.regform-left{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: #9fd9ff;
    border-top-left-radius: 10px;    
    border-bottom-left-radius: 10px;    

}

.regform-right{
    display: flex;
    flex-direction: column;
    flex: 0.7;
    padding: 50px;
    background-color: #1b262c;
    border-top-right-radius: 10px;    
    border-bottom-right-radius: 10px;   
}

.regform-left-head{
    font-family: Nexa-Bold;
    font-size: 30px;
}

.regform-login{
    border: 0;
    border-radius: 25px;
    font-family: Nexa-Bold;
    font-size: 20px;
    font-weight: bold;
    background-color: #1b262c;
    text-align: center;
    width: 50%;
    padding: 7px;
    box-sizing: border-box;
}

.regform-right-head{
    color: #1890ff;
    margin-bottom: 10px;
    font-size: 35px;
    font-family: Nexa-Bold;
}

.regform-input{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    padding-left: 18px;
    border-radius: 7px;
    margin-top: 3px;
    /* width: 80%; */
}

.regform-input ::placeholder{
    color: #666666;
}

.regform-submit{
    background-color: #3091be;
    color: #ffffff;
    border: 0;
    width: 100%;
    font-family: Nexa-Bold;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.dashboard-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #3091be, #13acb1);
}

.dashboard-menubar{
    display: flex;
    flex-direction: row;
    background-color: #15192a;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 2px 4px 6px #111222;
}

.dashboard-menubar-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.dashboard-menubar-title{
    font-family: Nexa-Bold;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 7px;
}

.dashboard-menubar-username{
    position: relative;
    margin-top: 10px;
    font-family: Nexa-Bold;
    font-size: 20px;
    /* font-weight: bold; */
    color: #ffffff;
    padding-right: 10px;
}

.dashboard-user-dialog{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 9.5%;
    background-color: #1b262c;
    border-radius: 10px;
    box-shadow: 2px 4px 6px #222222;
    padding: 25px;
    width: 20%;
    margin-left: -10%
}

.dashboard-logout{
    position: relative;
    border: 0;
    margin-top: 10px;
    background-color: #1890ff;
    border-radius: 10px;
    font-family: Nexa-Bold;
    font-size: 15px;
    padding: 10px;
}

.dashboard-body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
}

.dashboard-info-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.dashboard-my-info{
    display: flex;
    background-color: #1b262c;
    flex: 0.65;
    flex-direction: column;
    margin-right: 4px;
    padding: 25px;
    border-radius: 10px;
}

.dashboard-add-friend{
    display: flex;
    flex: 0.35;
    background-color: #15192a;
    flex-direction: column;
    margin-left: 4px;
    padding: 25px;
    border-radius: 10px;
}

.dashboard-info-section-head{
    color: #ffffff;
    font-family: Nexa-Bold;
    font-size: 35px;
}

.dashboard-friends-head{
    margin-top: 15px;
    background-color: #1b262c;
    padding: 15px;
    padding-left: 25px;
    border-radius: 10px;
    width: 100%;
}

.dashboard-friends-head > h1{
    margin-bottom: 0;
    font-family: Nexa-Bold;
    color: #ffffff;
}

.add-friend-input{
    background-color: #9fd9ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #000000;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    padding-left: 15px;
    width: 100%;
}
#add-friend-input :placeholder-shown{
    color: #000000;
}

.dashboard-friend{
    display: inline-flex;
    flex-direction: column;
    padding: 25px;
    background-color: #1b262c;
    margin-top: 20px;
    width: 49.5%;
    border-radius: 10px;
}

.friend-rating{
    color: #99ffdd;
    font-family: Nexa-Regular;
    font-size: 20px;
    margin-bottom: 0;
}